<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            margin: 0 auto;
            max-width: 864px;
            padding-left: 30%;
            padding-top: 7%;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</head>
<h1> Delete user </h1> <style></style>
<div>
    <form action="/Deleteuser?_method=DELETE" method="POST">
    <body>
        <div>
            <label for="email"> Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password"> password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button id="deleteBtn" type="submit">Delete user</button>
    </form>
    <br>
    <br>
</div>
<div>
</body>
</html>