<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            margin: 0 auto;
            max-width: 864px;
            padding-left: 30%;
            padding-top: 7%;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete item</title>
</head>
</head>

<body>
    <h1> Delete item </h1>
    <a href="homepage.html"> Homepage</a><br>
    <br>
    <div>
        <label for="itemId"> Item ID:</label>
        <input type="text" id="itemId" name="itemId" required>
    </div>
    <button id="deleteBtn">Delete item</button>
    <br><br>
    <script src="deleteitem.js"> </script>
</body>

</html>