<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            margin: 0 auto;
            max-width: 864px;
            padding-left: 30%;
            padding-top: 7%;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete item</title>
</head>
</head>
<h1> Delete item </h1> <style></style>
<div>
    <form action="/deleteitem?_method=DELETE" method="POST">
    <body>
        <div>
            <label for="itemId"> Item ID:</label>
            <input type="text" id="itemId" name="itemId" required>
        </div>
        <button id="deleteBtn" type="submit">Delete item</button>
    </form>
    <br>
    <br>
</body>
</html>