<!DOCTYPE html>
<html lang="en">

<head>

<body>
    <style>
        body {
            margin: 0 auto;
            max-width: 864px;
            padding-top: 7%;
            padding-left: 30%;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    </head>
    <a href="/marketplace" id="marketplace"> Markedsplads</a>
    <br>
    <a href="/fulgteitems" id="fulgteitems"> Fulgte items</a>
    <br>
    <a href="/Createitem" id="createitem"> Create item listing</a>
    <br>
    <a href="/updateitem" id="updateitem"> Update item</a>
    <br>
    <a href="/Deleteitem" id="deleteitem"> Delete item</a>
    <br>
    <a href="/login" id="loginHref">Login</a>
    <br>
    <a href="/Updateuserpassword" id="updatepassword">Update password</a>
    <br>
    <a href="/adminUpdateUser" id="adminUpdateUser">Admin - Opdater bruger</a>
    <br>
    <a href="/adminDeleteUser" id="adminDeleteUser">Admin - Slet bruger</a>
    <br>
    <a href="/adminUsageStats" id="adminUsageStats">Admin - brugsstatistikker</a>
    </div>
    <div>
        <button id="deleteUser">Delete user</button>
        <br>
        <button id="logudBtn"> logud</button>
    </div>

    <body>
        <script src="homepage.js"></script>

</html>