<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create item</title>
</head>
<style>
    body {
        margin: 0 auto;
        max-width: 864px;
        padding-left: 30%;
        padding-top: 7%;
    }
</style>
<div></div>

<body>
    <h1>Markedsplads</h1>
    <a href="homepage.html"> Homepage</a><br>
    <br><br>
    <label for="kategori">Vælg en kategori:</label>

    <select name="kategori" id="kategori">
        <option value="">Alle kategorier</option>
        <option value="1">Fiskeudstyr</option>
        <option value="2">Planter</option>
        <option value="3">Legetøj</option>
        <option value="4">Udendørs</option>
        <option value="5">Biler</option>
    </select>
    <br>
    <button id="filterBtn">Filtre</button>
    <br>
    <table id="itemList" class="list">

    </table>
    <script src="marketplace.js"> </script>
</body>

</html>