<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<style>
    body {
        margin: 0 auto;
        max-width: 864px;
        padding-left: 30%;
        padding-top: 7%;
    }
</style>

<body>
    <h1>Register</h1>
    <br><br>

    <label for="email"> email</label>
    <input type="email" id="email" name="email" required>
    <br><br>

    <label for="password"> password</label>
    <input type="password" id="password" name="password" required>
    <br><br>
    <button id="register">Register</button>
    <script src="register.js"></script>
</body>
<a href="/login"> Login page</a>

</html>