<!DOCTYPE html>
<html lang="en">
    <script>src='./Users.js' </script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updateuser</title>
</head>
<style>
    body {
        margin: 0 auto;
        max-width: 864px;
        padding-top: 7%;
        padding-left: 30%;
    }
</style>
<body>
    <h1>Update user</h1>
    <form action="/Updateuser?_method=PUT" method="POST">
        <br><br>
        <label for="oldemail"> email</label>
        <input type="text" id="oldemail" name="oldemail">
        <br><br>

        <label for="oldpassword"> password</label>
        <input type="password" id="oldpassword" name="oldpassword">
            <br><br>

        <label for="nyEmail"> nyEmail</label>
        <input type="Email" id="nyEmail" name="nyEmail" required>
        <br><br>
            <br><br>
        <button type="submit" id="updateBtn">Updateuser</button>
    </form>
 
</body>
</html>